{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('slick-css') }}
{% endblock %}
{% block class_body %}class="homepage"{% endblock %}

{% block background %}
    <div id="slider">
        <div class="content"><img src="{{asset('images/1.jpg')}}" alt=""></div>
        <div class="content"><img src="{{asset('images/2.png')}}" alt=""></div>
        <div class="content"><img src="{{asset('images/3.png')}}" alt=""></div>
        <div class="content"><img src="{{asset('images/4.jpg')}}" alt=""></div>
    </div>
{% endblock %}
{% block body %}
    <section class="presentation">
        <h1>Welcome in the famous world of Rick and Morty <span class='heart'>❤</span></h1>
        <p>You want to know who lives in <a href="{{path('locations', {'name' : 'Earth (C-137)'})}}"><strong><mark>Earth C-137</mark></strong></a> ?, 
        what the <a href="{{path('characters', {'name' : 'Mechanical Morty'})}}"><strong><mark>Mechanical Morty's</mark></strong></a> species ? or which characters played in the 
        <a href="{{path('episodes', {'season': 'S03E08'})}}"><strong><mark>Episode 8 season 3</mark></strong></a> ? Well you are in the rigth place. You will be able to search by locations, 
        characters or episodes and find anything you're looking for ✨.
         I buildt this website thanks to the <mark><strong><a href="https://rickandmortyapi.com/" target="_blank">Rick and Morty's api</a></strong></mark> created by 
         <strong> Axel Fuhrmann and Talita</strong> so thanks to them for their amazing work.</p>

         <h2>Hope you're gonna find what you're looking for and remember,<br> it's time to get <strong>Schwifty</strong></h2>

         <div class="youtube_video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/4ctK1aoWuqY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
         </div>

    </section>
    <section class="cards_container">
        {% for i in 1..4 %}
            {% set random_id = random(1,total_characters.info.count) %}
            {% set data = json_decode("https://rickandmortyapi.com/api/character/"~random_id) %}

            {% include "_components/character_cards.html.twig" %}
        {% endfor %}
    </section>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('slick') }}
{% endblock %}
