{% extends 'base.html.twig' %}
{% block title %}Episodes{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('select2-css') }}
{% endblock %}
{% block class_body %}class="episodes"{% endblock %}
 {% block background %}
    <div class="bg"></div>
 {% endblock %}
{% block body %}
{% set request = app.request.query.get('season') %}
{% set season = last_season.episode|slice(2,1) %}
    <form action="{{path('episodes')}}">
        <select id="episodes" class='js-select' name="season">
        {% for i in 1..season %}
            <option value="S0{{i}}"{% if request|slice(0,3) == "S0"~i %}selected{% endif %}>Season {{i}}</option>
        {% endfor %}
        </select>
        <button><i class="fa fa-search"></i></button>
    </form>
    <section class="cards_container">
        {% for data in data_episodes.results %}
            {% include "_components/episode_cards.html.twig" %}            
        {% endfor %}
    </section>
    {% include "_components/pagination.html.twig" with {'max_page' : data_episodes.info.pages, 'target': 'episodes'} %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('select2') }}
    {{ encore_entry_script_tags('ajax-loc-ep') }}
{% endblock %}
